* {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-image: url("https://github.com/Kalvium-Program/netflix-clone-boilerplate/blob/main/assets/Title-Image.png?raw=true");
    background-size:cover;
    background-repeat: no-repeat;
    
}

#netflix {
    height: 30px;
    width: 90px;
}


.Options {
    display:flex;
    padding: 5px;
    margin: 5px;

}


h1 {
    font-size: 600%;
}

button {
    margin: 5px;
    padding: 10px;
}

.netflee {
    position: absolute;
    bottom: 20px;

}

.adde {
    position: absolute;
    bottom: 20px ;
    right: 50px;
}