

*{
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header{
    position: relative;
    height:900px;
    background-image:url(./assets/Title-Image.png);
    background-repeat: no-repeat;
    background-size:cover;
 
}

.logo{
    height: 16px;
}

#maid{
    position: relative;
    top:50%;
    color: aliceblue;
}

#show-logo{
    height: 30px;
}

.top{
    list-style: none;
    display: flex;
}

.hidden{
    display: none;
}


h1{
    font-size: 100px;
}

caption img{
    padding-right: 20px; 
}

td{
    padding: 7px 50px;
}

caption{
    display: flex;
    justify-self:left;
}

table~p{
    position: relative;
    left:60px;
    padding: 7px;
    width: fit-content;
}

li{
    padding-left: 25px;
}

.top-10 img{
    height:200px
}

.top-10{
    display: flex;
    justify-content:space-around;
}

footer{
    color: #6c6c6c;
}


.position {
    padding-left: 40px;
}

@media (max-width: 500px) {
    body{
        margin: 0;
        padding-left: 0px;
    }
    nav{
        display: none;
    }
    .hidden{
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, .02);
        color: black;
    }
    header{
        width: 100%;
        height:auto;
        background-image:url(./assets/Title-Image.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    
    .top-10 {
      flex-direction: row;
      overflow:auto;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      align-items: center; 
    }
    h1{
        font-size: 40px;
    }
    
    td{
        padding: 3px 5px;
    }
    caption{
        display: flex;
        justify-self:left;
    }
    table~p{
        left:70px;
        padding: 7px;
        width: fit-content;
    }
    

    
  }
