* {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body {
    
}

#netflix {
    height: 30px;
    width: 85px;
}
body {
    background-image: url("https://github.com/Kalvium-Program/netflix-clone-boilerplate/blob/main/assets/Title-Image.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
}


.Options {
    display:flex;
    align-content: flex-end;
    padding: 5px;
    margin: 5px;
    position: relative;

}


h1 {
    font-size: 500%;
}